<select (change)="setHeaderSearch($event)">
  <option *ngFor="let val of headers" [value]="val" >{{val}}</option>
</select>
<input id="inputSearch" style="width: calc(100% - 500px);" class="inputSearch" placeholder="Поиск" (input)="searchElems($event)">
<input type="number" style="width: 100px; margin: 5px" (input)="setOffsetValue($event)" [value]="offsetElems">
<input type="number" style="width: 100px; margin: 5px" (input)="setMaxValue($event)" [value]="maxElems">
<button (click)="openRow()" class="addBlock">Добавить запись</button>
<div class="scroll-table">
  <div style="min-width: 900px">
    <table class="table">
      <thead>
      <tr>
        <th *ngFor="let head of headers" class="column" scope="col" [id]="head">
          {{head}}
          <i style="display: none" class="arrow up"></i>
        </th>
      </tr>
      </thead>
    </table>
    <div class="scroll-table-body">
      <table class="table">
        <tbody id="tableBPLA">
          <tr *ngFor="let str of rows" [id]="getIndex(str)" (click)="selectRow($event)">
            <td *ngFor="let val of str">
              {{val}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div *ngIf="isCreate" class="createMenu">
  <input class="createInput" *ngFor="let head of headers" [id]="head" [placeholder]="head">
  <button (click)="createRow()" class="addBlock">Создать</button>
  <button (click)="openRow()" class="addBlock">Отменить</button>
</div>
<div class="wrapper" *ngIf="isCreate"></div>
