<div class="createBlockWindow">
    <div class="textBlockTitle">
        <span>Создание нового блока</span>
    </div>
    <div class="createBlockInfo">
        <div class="textBlock">
            <input type="text" name="" id="" placeholder="Название">
        </div>
        <div class="textBlock">
            <input type="text" name="" id="" placeholder="Текст">
        </div>
        <div class="textBlock">
            <input type="text" name="" id="" placeholder="Размер рекста">
        </div>
    </div>
</div>
