<div class="wrapper"></div>

<div class="createBlockWindow">
    <div class="textBlockTitle">
        <span>Создание нового блока</span>
    </div>
    <div class="createBlockInfo">
      <div class="textBlock">
        <input #name type="text" name="" placeholder="Название" [value]="nameI">
      </div>
      <div class="textBlock">
        <input #text type="text" name="" placeholder="Текст" [value]="textI" (contextmenu)="openHeader($event)">
      </div>
      <div class="textBlock">
        <input #size type="number" name="" placeholder="Размер текста" [value]="sizeI">
      </div>
    </div>
  <button class="addBlock" (click)="createBlock()">Создать</button>
  <button class="addBlock" (click)="close()">Отменить</button>
</div>

<div #menu class="menu check" style="top: 0; left: 0; display: none">
  <option *ngFor="let head of headers" class="opt check" (click)="addHeader(head)">{{head}}</option>
</div>
