.panes {
    width: 100%;
    display: flex;
}

.leftPane {
    background-color: rgb(210, 210, 252);
    height: 100%;
    width: 25%;
}

.rightPane {
    background-color: rgb(238, 209, 146);
    height: 100%;
    width: 75%;
}