<div class="diagrams">
  <div class="first">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="pieChartOptions"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>

  <div class="second">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="columnChartOptions"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>

  <div class="third">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="histogramOptions"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>
</div>
