<div class="diagrams">
  <div class="first">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="pieChartOptions"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>
  <div>
    <label for="dataSelect">Выберите параметр:</label>
    <select id="dataSelect" (change)="onSelectChange($event, 1)">
      <option *ngFor="let option of categories" [value]="option">{{ option }}</option>
    </select>
  </div>

  <div>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="columnChartOptions"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>
  <div>
    <label for="dataSelect">Выберите параметр:</label>
    <select id="dataSelect" (change)="onSelectChange($event, 2)">
      <option *ngFor="let option of categories" [value]="option">{{ option }}</option>
    </select>
  </div>

  <div>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="histogramOptions"
      style="width: 100%; height: 400px; display: block;">
    </highcharts-chart>
  </div>
</div>
<div>
  <label for="dataSelect">Выберите параметр:</label>
  <select id="dataSelect" (change)="onSelectChange($event, 3)">
    <option *ngFor="let option of categories" [value]="option">{{ option }}</option>
  </select>
</div>
